.red{
    color:red;
}
.yellow{
    color:rgb(197, 197, 55);
}
.blue{
    color:blue;
}
.green{
    color:green;
}

.fa-male:hover{
    color:rgba(10, 10, 209);
}

.fa-female:hover{
    color:rgba(253, 155, 155, 0.8);
}

.fa-female,
.fa-male{
    cursor:pointer;
}