@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
*{
  font-family: 'Gowun Batang', serif;
  padding:0;
  margin:0;
}

main{
  position: fixed;
  background: rgb(224, 224, 224);
  width: 400px;
  height: 600px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display: flex;

  
  backdrop-filter: blur(20px);

}

.container{
  display: flex;
  flex-direction: column;
  background: rgb(224, 224, 224);
  width: 400px;
  height: 600px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.title{
  display: flex;
  background: rgba(34, 199, 116, 0.938);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  color: aliceblue;
  font: bold 2.5rem serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.input {
  margin-bottom: 20px;
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}
.input input {
  width: 230px;
  height: 50px;
  outline: 0;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.input label {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.calcular{
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: 32px;
  background: #148b50;
  
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.text{
  font-weight: bold;
  color: rgb(170, 170, 170);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.boxResult{
  position: fixed;
  background: rgb(224, 224, 224);
  width: 400px;
  height: 600px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 1000000;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

.boxResult.active{
  visibility: visible;
  opacity: 1;
}

.items,
.itemsInfo{
  text-align: center;
}

.items h1{
  font-size:48px;
  font-weight: bold;
}

.items p{
  margin-top: 10px;
  font-size:20px;
  font-weight: bold;
}
.boxResult span{
  border-top:1px solid black;
  padding-top:10px;
   font-weight: bold;
  text-align: center;
}

.boxResult span{
  border-top:1px solid black;
  padding-top:10px;
   font-weight: bold;
  text-align: center;
}

.boxResult .result{
  border: none;
}

.itemsInfo{
  width:280px;
  margin:1.6em auto;
  background-color: white;
  border-radius: 10px;
  border:1px solid black;
}

.itemsInfo p{
  font-size: 18px;
  margin-bottom: 5px;
}

.close{
  width: 30px;
  position: absolute;
  top: 10px;
  right:430px;
  cursor: pointer;
}

